footer {
  background-color: var(--primary-color);
  padding: 3rem 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 7rem;
}
footer a {
  color: var(--primary-bg);
}

.footer__logo {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: inline-block;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
}
.footer__socials a {
  background-color: var(--primary-bg);
  color: var(--color-white);
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__socials a:hover {
  background-color: transparent;
  color: var(--primary-bg);
}
.footer__copyright {
  margin-bottom: 4rem;
  color: var(--primary-bg);
}

.permalinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}

/* ================ MEDIA QUERIES (Small Devices) ================== */
@media screen and (max-width: 600px) {
  .permalinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5rem;
  }

  .footer__socials {
    margin-bottom: 2.6rem;
  }
}